@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
h2{
	color:rgba(198,198,198,1.00);
}
h5{
	color:rgba(198,198,198,1.00);
}
.first{
	text-indent:2em;
}
.second{
	text-indent:2em;
}
/*整体设置样式*/
.body{
	background-color:rgba(198,198,198,1.00);
	font-family:"微软雅黑";
	font-size:15px;
	width:100%;
	height:100%;
}
/*头部样式*/
.head{
	width:100%;
	height:60px;
	background-color:rgba(51,51,51,1.00);
}
.headlist{
	float:right;
}
.headlist li{
	float:left;
	width:90px;
	color:#000000;
	font-size:13px;
}

.headlist a{
	color:#fff;
	text-decoration:none;
}
.headlist A:hover{
	color:rgba(198,198,198,1.00);
	text-decoration:none;
}
.headlist A:active{
	color:rgba(198,198,198,1.00);
	text-decoration:none;
}
/*主体部分样式*/
.left .content{
	margin:20px;
	width:880px;
	background-color:#ffffff;
}
.left .content1{
	padding:10px;
}
.right .content{
	width:360px;
	margin-top:20px;
	margin-right:20px;
	background-color:#fff;
}
.right .content1{
	width:340px;
	padding:10px;
}
.content1 span{
	font-weight:bold;
}
/*第二部分独有内容样式*/
.content1 li{
	list-style-type:none;
}
/*第三部分独有内容样式*/
.some{
	margin-left:50px;
	margin-bottom:20px;
	width:120px;
	border:1px solid rgba(198,198,198,1.00);
}
.some p{
	text-align:center;
	font-size:13px;
}
.smallimg{
	padding:5px 10px;
	
}
/*第四部分独有内容样式*/
ol{
	font-weight:bold;
}
.tab{
	width:100%;
	text-align:left;
	border-collapse:collapse;
}
.tab caption{
	font-weight:bold;
	float:left;
}
.tab tr{
	border:1px solid rgba(198,198,198,1.00);
}
.tab th{
	border:1px solid rgba(198,198,198,1.00);
	background-color:rgba(51,51,51,1.00);
	color:#ffffff;
}
.tab #th1{
	width:40%;
}
.tab #th2{
	width:40%;
}
.tab #th3{
	width:20%;
}

.tab td{
	border:1px solid rgba(198,198,198,1.00);
}
.tab .sum{
	background-color:rgba(198,198,198,1.00);
	font-weight:bold;
}

/*侧栏样式*/
#ti{
	font-size:20px;
	font-weight:bold;
}
.form_last{
	width:100%;

}
.label{
	clear:both;
	text-align:right;
	padding-right:15px;
	float:left;
	width:120px;
}
.email,.password{
	color:rgba(198,198,198,1.00);
	margin-left:130px;
}
.submit{
	padding:20px;
	width:100%;
	color:#ffffff;
	background-color:rgba(51,85,208,1.00);
	border:0px;
	height:40px;
	/*圆角*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
select{
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-align:center;
	  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	  border: solid 1px rgba(212,212,212,1.00);
	
	  /*很关键：将默认的select选择框样式清除*/
	  appearance:none;
	  -moz-appearance:none;
	  -webkit-appearance:none;
	
	  /*在选择框的最右侧中间显示小箭头图片 定位为右边中间开始 transparent为背景透明色*/
	  background:url(../image/select.png) no-repeat scroll right center transparent;


	  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
	  padding-right: 30px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }



.sex{
	display:none;
}
#man{
  padding-left: 20px;
  cursor: pointer;
  background:url(../image/radio.png) no-repeat left top;
}
#woman{
  padding-left: 20px;
  cursor: pointer;
  background:url(../image/unchecked.png) no-repeat left top;
}

/*底部样式*/
.footer{
	clear:both;
	background-color:rgba(51,51,51,1.00);
	color:#fff;
	width:100%;
	
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.left{
	float:left;
}
.right{
	float:right;
}
.right p{
	line-height:20px;
}





